.teamReg h1{
	font-family: Wide Latin;
	text-align-last: center;
	padding-bottom: 10px;
}
.FF{
	float: left;
	width:45%;
}
.fees{
	background: black;
	position: absolute;
	width:200px;
	height: 82px;
	top:310px;
	left: 1000px;
	border-radius: 10px;
	text-align: center;
}
.fees pre{
	font-size: 25px;
	background: #FFF;
	font-family: Wide Latin;
}
.f{
	
	/*! float:left */
}
.BS{
	font-family: Wide Latin;
	text-align: center;
	color:#2CB121;
}
#print{
	float: left;
	color:white;
	background: #2B2C30;
	height: 46px;
}